<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Bootstrap lib -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!--Link the js file-->
   <script src="js/index.js" type="javascript"></script>


    <title>Transaction Tracker</title>

</head>


<body>
<!-- CSS only -->
<div class="container">
    <h1>Transaction Tracker | Dashboard </h1>
</div>

<div class="container" id="LogDisplay">

    <!-- the class 'd-none' turns of the display for this element -->
    <h3>Events</h3>
    <table id="events" class="table table-striped">
        <thead>
        <tr>
            <th>a</th>
            <th>b</th>
            <th>c</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

</body>

</html>
