<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamoVisualProgramming.DynamoServices" version="2.15.0.5383" targetFramework="net48" />
  <package id="JsonDiffPatch.Net" version="2.3.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net48" />
</packages>