anyio==3.1.0
argon2-cffi==20.1.0
async-generator==1.10
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
bleach==3.3.0
certifi==2021.5.30
cffi==1.14.5
chardet==3.0.4
click @ file:///tmp/build/80754af9/click_1621604852318/work
colorama==0.4.4
cycler==0.10.0
decorator==4.4.2
deepdiff @ file:///home/conda/feedstock_root/build_artifacts/deepdiff_1619737190863/work
defusedxml==0.7.1
entrypoints==0.3
Flask @ file:///home/ktietz/src/ci/flask_1611932660458/work
idna==2.10
importlib-metadata @ file:///C:/ci/importlib-metadata_1617877484576/work
ipykernel==5.5.5
ipython==7.24.1
ipython-genutils==0.2.0
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
jedi==0.18.0
Jinja2 @ file:///tmp/build/80754af9/jinja2_1621238361758/work
json5==0.9.5
jsonpatch==1.32
jsonpickle @ file:///tmp/build/80754af9/jsonpickle_1613502777040/work
jsonpointer==2.1
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-server==1.8.0
jupyterlab==3.0.16
jupyterlab-pygments==0.1.2
jupyterlab-server==2.6.0
kiwisolver==1.3.1
lark-parser @ file:///home/conda/feedstock_root/build_artifacts/lark-parser_1620449992245/work
lxml==4.6.2
MarkupSafe @ file:///C:/ci/markupsafe_1621528314575/work
matplotlib==3.3.3
matplotlib-inline==0.1.2
mistune==0.8.4
nbclassic==0.3.1
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
neo4j==4.3.1
neotime==1.7.4
nest-asyncio==1.5.1
networkx==2.5
notebook==6.4.0
numpy==1.19.3
ordered-set @ file:///home/conda/feedstock_root/build_artifacts/ordered-set_1592489036906/work
packaging==20.9
pandocfilters==1.4.3
parso==0.8.2
pickleshare==0.7.5
Pillow==8.0.1
prometheus-client==0.11.0
prompt-toolkit==3.0.18
pycparser==2.20
Pygments==2.9.0
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
pywin32==301
pywinpty==1.1.2
pyzmq==22.1.0
requests==2.25.0
Send2Trash==1.5.0
six @ file:///tmp/build/80754af9/six_1623709665295/work
sniffio==1.2.0
termcolor==1.1.0
terminado==0.10.1
testpath==0.5.0
tornado==6.1
traitlets==5.0.5
urllib3==1.26.2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.1.0
Werkzeug @ file:///home/ktietz/src/ci/werkzeug_1611932622770/work
wincertstore==0.2
xmldiff==2.4
zipp @ file:///tmp/build/80754af9/zipp_1615904174917/work

jsonpickle~=2.0.0
ifcopenshell~=0.6.0.a0f79cc